<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>發生錯誤</title>
</head>
<body>
    <header>
        <h1>失敗頁面</h1>
    </header>
    <div class="container">
        <p class="log"><%= message %></p>
        <p class="log"><a href="/">返回首頁</a></p>
    </div>
</body>
</html>
