<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>歡迎光臨</title>
</head>
<body>
    <header>
        <h1>歡迎光臨，這是會員頁</h1>
    </header>
    <div class="container">
        <p class="log">嗨！<%= name %> ，歡迎登入系統</p>
        <p class="log"><a href="/signout">登出系統</a></p>
    </div>
    <form class="container search-user">
        <h3>查詢會員姓名</h3>
        <div>
            <input type="text">
            <button type="submit">查詢</button>
        </div>
        <p></p>
    </form>
    <form class="container change-username">
        <h3>更新我的姓名</h3>
        <div>
            <input type="text">
            <button type="submit">更新</button>
        </div>
        <p></p>
    </form>
<script src="/member.js"></script>
</body>
</html>