html{
    box-sizing: border-box;
    /* overlay滾動條不擠壓空間 */
    overflow-y: overlay;
}

*{
    box-sizing: inherit;
}

body{
    font-size: 20px;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}


.website-name{
    font-weight: 700;
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

.hamburger{
    display: none;
}

.nav-container{
    margin: 0;
    padding: 0;
}

.nav-item{
    display: inline;
    margin:0 10px;
    cursor: pointer;
}



.main-box{
    width: 100%;
    line-height: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    background-color: #ddeef8;
}
.main-content{
    /* 寬度壓縮到太小的時候，文字可以自動跑到下一排 */
    display: inline-block;
    line-height: 40px;
}

.gallery{
    margin:20px auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.img-container{
    padding: 10px;
    flex-basis: 300px;
}


.img-self{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
.img-contain{
    position: relative;
}
.img-contain::before{
    content: "";
    display: block;
    padding-top: 66%;
    width: 100%;
    position: relative;
}

.img-bottom{
    background-color: #ddeef8;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

@media(max-width: 1200px){
    .gallery{
        width: 90%;
    }
    .img-container{
        flex-basis: 50%;
    }
    /* .img-self{
        max-height: 27vw;
    } */
}

@media(max-width: 600px){
    .nav-container{
        flex: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        visibility: hidden;
        height: 0;
        transition:all 0.5s; 
    }
    /* 下拉選單效果 */
    .nav-display{
        height: 152px;
        visibility: visible;
        animation: all 0.5s;
    }
    .nav-item{
        margin: 5px 0;
    }

    .hamburger{
        display: inline;
        margin: 0 5px;
        cursor: pointer;
    }
    .img-container{
        flex-basis: 100%;
    }
    /* .img-self{
        max-height: 54vw;
    } */
}
